header
	section.header-top
		.container
			.col-right
				nav.top-menu
					ul
						li
							a(href="#!") Cổng thông tin
						li
							a(href="#!") Liên hệ
				.search
					.search-toggle
						i.fa.fa-search
					.search-wrap.d-none
						input(type="text" placeholder="tìm kiếm...")
						button.searchbutton 
							i.fa.fa-search
				.language
					a(href="#!")
						img(src="img/en.png", alt="")
				.chart-wrap
					.chart OIL: 
						span.text-green 133,750 +200 (+0.59%) 
						|28/07/2018, 15:00
	section.header-menu
		.container
			.header-wrap
				.sitelogo
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.btn-showmenu 
					i.material-icons menu
				.overlay
				nav.menu
					ul.menu-link
						li.active
							a(href="#!") Trang chủ
						li
							a(href="#!") Giới thiệu
						li
							a(href="#!") Lĩnh vực hoạt động
						li
							a(href="#!") Mạng lưới
						li
							a(href="#!") PVOIL Easy
						li
							a(href="#!") Quan hệ cổ đông
						li
							a(href="#!") Truyền thông
						li
							a(href="#!") An sinh xã hội